.empty-cart {
    display: flex;
    font-size: x-large;
    flex-direction: column;
    text-decoration: none;
}

.cart {
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    border: 1px solid gray;
}

.card-deck {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    flex-direction: column;
    float: left;
    margin-left: 10%;
    margin-bottom: 5%;
    justify-content: center;
}