.empty-cart {
    display: flex;
    font-size: x-large;
    flex-direction: column;
    text-decoration: none;
}

.cart {
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    overflow: hidden;
    border: 1px solid gray;
}

.card-deck {
    width: 100vw;
    display: flex;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    flex-direction: column;
}