h1 {
    display: flex;
    justify-content: center;
}

.home-jumbo {
    width: 80vw;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0px 1px 3px 0px;
    border-radius: 1%;
    background-image: url("/public/img/home-bg.jpg");
    background-size: cover;
    flex-direction: column;
}

.home-div {
    height: 92%;
    width: 100vw;
}

.boat-cards:hover {
    transform: scale(1.04);
}

.jumbo-btn {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}



.jumbo-btns {
    margin-top: 50px;
    display: inline-flex;
}

.btn-hover:hover {
    transform: scale(1.04);
}